${require('./header.html')}

<main class="site-content about-us-page" >
	<section class="top-bg top-bg-products section-bg overlay" style="background-image: url('${require(`./img/about-us-top.png`)}')">
		<div class="text-wrap block-fit-parent">
			<div class="container">
				<div class="row m-x-0 flex-c-column">
			    <h2 class="h2 ">par mums</h2>
			  </div>
		  </div>
		</div>
	</section>
	<section class="blog-post blog-post-reverse bg-overlay">
		<div class="container">
			<div class="post big-text-post row flex-c-column">
	     	<div class="text-area col col-8 col-sm-12 col-xs-12 col-md-12 about-text-area">
          <div class="text">
            <h3 class="h3 title first-title">vecvecāku mantojums</h3>
            <p class="subtitle p">Tēju receptes, zemes kopšanas un dārza veidošanas tradīcijas un pašas Ragāres ir vecvecāku mantojums. Zinātņu doktori Māra un Jānis Vaivari gan dzīves gaitā, gan zinātnisku pētījumu, gan praktiskas saimniekošanas rezultātā nonāca pie secinājuma, ka bioloģiskās lauksaimniecības sistēma ir ekonomiski pamatotāka, ilgtspējīgāka un pat ar augstāku ražu potenciālu. Veiksmīga bioloģiskā saimniekošana prasa daudz lielākas zināšanas un sarežģītāku darbu kompleksu.</p>
            <p class="subtitle p">Ragāres 1992.gadā tika izveidotas ar mērķi šīs zināšanas praktiski izmēģināt un jau kopš 1995. gada oficiāli ir bioloģiskā saimniecība vispirms ar Zaļo sertifikātu, pēc tam jau ar bioloģiskās lauksaimniecības sertifikātu. Māra un Jānis bija vieni no aktīvistu saujiņas, kas aktīvi nodarbojās ar bioloģiskās lauksaimniecības sistēmas veidošanu un atīstīšanu Latvijā, kad tas vēl nebija ne populāri, ne bija ar jebkādu finansiālu atbalstu. No 2008. gada saimniecība tika nodota jaunajai paaudzei atstājot milzīgu zināšanu mantojumu, kas arī pamazām tiek izmantots turpmākajā attīstībā.</p>
          </div>
        </div>
			</div>
      <div class="post typical-post row">
        <div class="image-wrap col col-sm-12 col-xs-12 col-6 col-md-12">
          <div class="image section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')"></div>
        </div>
        <div class="text-area col col-sm-12 col-xs-12 col-6 col-md-12 flex-c-column">
          <div class="text">
            <h3 class="h3 title">virsraksts</h3>
            <p class="subtitle p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper </p>
          </div>
        </div>
      </div>
		</div>
	</section>
  <section class="blog-post bef-sert">
		<div class="container">
			 <div class="row m-x-0">
				<div class="video">
          <div class="inner">
					 <iframe src="https://www.youtube.com/embed/byURQ03iZQA" width="100%" height="100%" frameborder="0"></iframe>
          </div>
				</div>
			</div>
			<div class="post row big-text-post post-no-overlay flex-c-column">
	     	<div class="text-area col col-8 col-sm-12 col-xs-12 col-md-12 flex-c-column about-text-area">
          <div class="text">
            <h3 class="h3 title">izstrādes process</h3>
            <p class="subtitle p">Tējām absolūti lielākā priekšrocība ir tā, ka ārstniecības augi ir rūpīgi ar rokām vākti un dalīti. Tā var atdalīt bojātās un neveselīgās augu daļas,  kātus un visu citu, kam ir mazāka ārstnieciskā, garšas un arī vizuālā vērtība. Arī jaukšana un pakošana ir roku darbs. Rezultātā augus var sasmalcināt formātā, kas ir gan ārstnieciski gan vizuāli visskaistākais – atsevišķas, veselas lapiņas, ziediņi un tādus var iepakot arī paciņā. Katra auga lapiņai tējā būs sava krāsa un tā būs atpazīstama, aplietas tās atplaukst, nav bojātas kā no pļavas. Arī paciņās Ir iespējams vienmērīgi iepakot trauslās lapiņas un ziediņus ļoti sarežģītās kombinācijās. </p>
            <p class="subtitle p">No vienas puses process ir arhaisks un neefektīgs, bet mehāniski tādu rezultātu vienkārši nav vēl iespējams dabūt. Tējas veidojas smalkākas frakcijas, mazāk intensīvas, klāt ir mazvērtīgas augu daļas – dzeltenās lapas, kāti utt. Jo vairāk sasmalcina, jo ātrāk augam zūd vērtība, garša.</p>
            <p class="subtitle p">Gan ārstniecības augi, gan dārzeņi tiek kaltēti sausā gaisā pie temperatūras režīma, kas nepārsniedz 35*C (dārzeņiem līdz 40*C), kas ļauj saglabāt ievērojami lielāku bioloģiski aktīvo vielu daudzumu.</p>
            <p class="subtitle p">Tēju receptes ir veidotas katrai par pamatu ņemot kādu ārstniecisku īpašību grupu. Un tikai atbilstoši šo augu īpašībām tiek piemeklēts tai atbilstošs nosaukums. Tās gandrīz visas ir patīkamas ikdienā dzeramas tējas, bet papildus katrai būs savs konkrēts ārstniecisks fokuss.</p>
          </div>
        </div>
			</div>
		</div>
	</section>
	<section class="blog-post one-post bg-overlay">
		<div class="container">
	    <div class="post row">
        <div class="image-wrap col col-sm-12 col-xs-12 col-6 col-md-12">
          <div class="image section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')"></div>
        </div>
        <div class="text-area col col-sm-12 col-xs-12 col-6 col-md-12 flex-c-column">
          <div class="text">
            <h3 class="h3 title">kas ir zaļā sāls?</h3>
            <p class="subtitle p">Lieliska aromātiska piedeva ēdieniem, sevišķi piestāv salātiem, bet lietojams arī pie jebkura cita ēdiena, kam paredzēts pievienot sāli.</p>
            <a href="product-info.html"><button class="h5 btn-main btn-watch">skatīt produktu</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sertifikati" id="sertifikati">
    <div class="container">
      <div class="top-bg section-bg overlay" style="background-image: url('${require(`./img/sert-top.png`)}')">
        <div class="text-wrap block-fit-parent">
          <div class="container">
            <div class="row m-x-0 flex-c-column">
              <h2 class="h2">sertifikāti</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="sert-row row">
        <div class="full">
          <div class="image flex-c-column">
            <img src="${require(`./img/le.png`)}" alt="">
          </div>
          <h5 class="h5">latvijas ekoprodukts</h5>
        </div>
        <div class="full">
          <div class="image flex-c-column">
            <img src="${require(`./img/esbl.png`)}" alt="">
          </div>
          <h5 class="h5">eiropas savienības bioloģiskā lauksaimniecība</h5>
        </div>
        <div class="full">
          <div class="image flex-c-column">
            <img src="${require(`./img/sfr.png`)}" alt="">
          </div>
          <h5 class="h5">slow food riga</h5>
        </div>
      </div>
    </div>
  </section>
	<section class="about-us-page">
		
	</section>
</main>


            <!-- /site content -->

${require('./footer.html')}