            
            <!-- site footer -->
            <footer class="site-footer section-bg" style="background-image: url('${require(`./img/footer_bg.png`)}')">
                <div class="container">
                    <div class="obj-wrap row m-x-0">
                        <div class="foot-obj location">
                            <h5 class="h5">Z/S "Ragāres"</h5>
                            <p class="p">Skrīveru novads</p>
                        </div>
                        <div class="foot-obj contacts-foot">
                            <h5 class="h5">Kontakti</h5>
                            <div class="cont-row row m-x-0">
                                <p class="cont-obj mobile"><a href="tel:+37129229588">+371 29229588 </a>, <a href="tel:+37165197569">+371 65197569</a></p>
                                <p class="cont-obj email"><a href="mailto:eco@ragares.com">eco@ragares.com</a></p>
                            </div>
                        </div>
                        <div class="foot-obj social">
                            <div class="soc-wrap">
                                <a class="soc"><span class="soc-icon icon-facebook flex-c-column"></span></a>
                                <a class="soc"><span class="soc-icon icon-twitter flex-c-column"></span></a>
                                <a class="soc"><span class="soc-icon icon-youtube flex-c-column"></span></a>
                                <a class="soc"><span class="soc-icon icon-instagram flex-c-column"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="rights">© Z/S “Ragāres” 2018. Visas tiesības aizsargātas.</div>
                        <div class="author">
                            <p>Izstrādāja: <a target="_blank" href="https://sem.lv/"><img src="${require(`./img/sem-logo.png`)}" alt=""></a></p>
                        </div>
                    </div>

                </div>
            </footer>
            <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
            <!-- /site footer -->
            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

            <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
            <script>
            window.cookieconsent.initialise({
             cookie: {
                domain : "ragares.sem.lv",
                name: "cookie_consent",
              },
              palette:{
                popup:  { background: "#1A1A1A"  },
                button: { background: "#1A1A1A"  },
              },
              content:{
                message: "Šī vietne izmanto sīkfailus, lai uzlabotu lietotāju pieredzi. Turpinot izmantot šo vietni, Jūs piekrītat mūsu sīkdatņu lietošanai.",
                dismiss: "piekrist",
              },
            });
            </script>

        </div>
        <!-- /site wrap -->

        <!-- Place for your manually added scripts, for example google maps -->
    </body>
</html>