${require('./header.html')}









            <!-- site content -->
			<main class="site-content" >
          <section id="first-section" class="first section-bg" style="background-image: url('${require(`./img/home_bg.png`)}')">
            <div class="container">
              <div class="top flex-x-c">
                <img src="${require(`./img/logo.png`)}" alt="">
              </div>
              <div class="middle">
                <div class="product-dot dot-1"><span class="icon-dot"></span></div>
                <div class="product-wrap product-wrap-1">
                  <div class="decor-rotate"></div>
                  <div class="decor">
                    <div class="right-wrap">
                      <div class="title-wrap">
                        <h5 class="title h5">vakara tēja</h5>
                      </div>
                      <ul class="decor-list">
                        <li>Veselīga</li>
                        <li>Bioloģiski audzēta</li>
                        <li>Ar rokām šķirota un atlasīta</li>
                        <li>Atbrīvo no ikdienas stresa</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="product-dot dot-2"><span class="icon-dot"></span></div>
                <div class="product-wrap product-wrap-2">
                  <div class="decor">
                    <div class="right-wrap">
                      <div class="title-wrap">
                        <h5 class="title h5">vakara tēja</h5>
                      </div>
                      <ul class="decor-list">
                        <li>Veselīga</li>
                        <li>Bioloģiski audzēta</li>
                        <li>Ar rokām šķirota un atlasīta</li>
                        <li>Atbrīvo no ikdienas stresa</li>
                      </ul>
                    </div>
                  </div>
                  <div class="decor-rotate"></div>
                </div>
                <div class="product-dot dot-3"><span class="icon-dot"></span></div>
                <div class="product-wrap product-wrap-3">
                  <div class="decor">
                    <div class="right-wrap">
                      <div class="title-wrap">
                        <h5 class="title h5">vakara tēja</h5>
                      </div>
                      <ul class="decor-list">
                        <li>Veselīga</li>
                        <li>Bioloģiski audzēta</li>
                        <li>Ar rokām šķirota un atlasīta</li>
                        <li>Atbrīvo no ikdienas stresa</li>


                      </ul>
                    </div>
                  </div>
                  <div class="decor-rotate"></div>
                </div>
                <div class="product-dot dot-4"><span class="icon-dot"></span></div>
                <div class="product-wrap product-wrap-4">
                  <div class="decor-rotate"></div>
                  <div class="decor">
                    <div class="right-wrap">
                      <div class="title-wrap">
                        <h5 class="title h5">vakara tēja</h5>
                      </div>
                      <ul class="decor-list">
                        <li>Veselīga</li>
                        <li>Bioloģiski audzēta</li>
                        <li>Ar rokām šķirota un atlasīta</li>
                        <li>Atbrīvo no ikdienas stresa</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bottom row">
                <div class="left">
                  <div class="title h1">Bioloģiskā lauksaimniecība</div>
                  <div class="subtitle">Zemes kopšanas un dārza veidošanas tradīcijas un pašas Ragāres ir vecvecāku mantojums</div>
                </div>
                <div class="right"></div>
              </div>
            </div>
          </section>
        <section class="home-products bg-overlay" id="home-products">
          <div class="container">
            <div class="slider">
              <a href="product-info.html" class="content">
                <div class="full">
                  <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
                  <div class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
                    <div class="info">
                      <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
                    </div>
                  </div>
                </div>
                <div class="title h5">sieviešu teja</div>
              </a>
              <a href="product-info.html" class="content">
                <div class="full">
                  <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
                  <div class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
                    <div class="info">
                      <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
                    </div>
                  </div>
                </div>
                <div class="title h5">sieviešu teja</div>
              </a>
              <a href="product-info.html" class="content">
                <div class="full">
                  <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
                  <div class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
                    <div class="info">
                      <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
                    </div>
                  </div>
                </div>
                <div class="title h5">sieviešu teja</div>
              </a>
              <a href="product-info.html" class="content">
                <div class="full">
                  <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
                  <div class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
                    <div class="info">
                      <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
                    </div>
                  </div>
                </div>
                <div class="title h5">sieviešu teja</div>
              </a>
              <a href="product-info.html" class="content">
                <div class="full">
                  <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
                  <div class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
                    <div class="info">
                      <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
                    </div>
                  </div>
                </div>
                <div class="title h5">sieviešu teja</div>
              </a>
            </div>
            <div class="button-row">
              <a href="produkti.html"><button class="h5 btn-main">visi produkti</button></a>
            </div>
            </div>
        </section>
        <section class="about-us bg-overlay" id="about-us">
          <div class="container">
            <div class="post row" data-aos="fade-up">
              <div class="image-wrap col col-6 col-xs-12 col-sm-12 col-md-12">
                <div class="image section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')"></div>
              </div>
              <div class="text-area col col-6 col-xs-12 col-sm-12 col-md-12 flex-c-column">
                <div class="text">
                  <h3 class="h3 title">vecvecāku mantojums</h3>
                  <p class="subtitle p">Tēju receptes, zemes kopšanas un dārza veidošanas tradīcijas un paās Ragāres ir vecvecāku mantojums. Zinātņu doktori Māra un Jānis Vaivari gan dzīves gaitā.</p>
                  <button class="h5 btn-main btn-about">par mums</button>
                </div>
              </div>
            </div>
            <div class="post row" data-aos="fade-up">
              <div class="image-wrap col col-6 col-xs-12  col-sm-12 col-md-12">
                <div class="image section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')"></div>
              </div>
              <div class="text-area col col-6 col-xs-12 col-sm-12 col-md-12 flex-c-column">
                <div class="text">
                  <h3 class="h3 title">kas ir zaļā sāls?</h3>
                  <p class="subtitle p">Lieliska aromātiska piedeva ēdieniem, sevišķi piestāv salātiem, bet lietojams arī pie jebkura cita ēdiena, kam paredzēts pievienot sāli.</p>
                  <a href="product-info.html"><button class="h5 btn-main btn-watch">skatīt produktu</button></a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="sertifikati" id="sertifikati">
          <div class="container">
            <div class="top-bg section-bg overlay" style="background-image: url('${require(`./img/sert-top.png`)}')">
              <div class="text-wrap block-fit-parent">
                <div class="container" style="height:100%!important">
                  <div class="row m-x-0 flex-c-column">
                    <h2 class="h2">sertifikāti</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="sert-row row">
              <div class="full">
                <div class="image flex-x-c flex-y-c">
                  <img src="${require(`./img/le.png`)}" alt="">
                </div>
                <h5 class="h5">latvijas ekoprodukts</h5>
              </div>
              <div class="full">
                <div class="image flex-x-c flex-y-c">
                  <img src="${require(`./img/esbl.png`)}" alt="">
                </div>
                <h5 class="h5">eiropas savienības bioloģiskā lauksaimniecība</h5>
              </div>
              <div class="full">
                <div class="image flex-x-c flex-y-c">
                  <img src="${require(`./img/sfr.png`)}" alt="">
                </div>
                <h5 class="h5">slow food riga</h5>
              </div>
            </div>
            <div class="button-row">
              <button class="h5 btn-main btn-sert">uzzināt vairāk</button>
            </div>
          </div>
        </section>
        <section class="where-seminari bg-overlay" id="kur-atrast">
          <div class="container">
            <div class="post row" data-aos="fade-up">
              <div class="image-wrap col col-6 col-xs-12 col-md-12 col-sm-12 where-img">
                <div class="image-where section-bg" style="background-image: url('${require(`./img/where.png`)}')"></div>
              </div>
              <div class="where-text-area text-area col col-6 col-xs-12 col-sm-12  col-md-12 flex-y-c">
                <div class="text text-where">
                  <h3 class="h3 title">Kur mūs atrast</h3>
                  <div class="locations row">
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">iDille, Barona centrā</h6>
                        <h6 class="side-bottom h6">Kr.Barona ielā 46, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                      <div class="where-loc">
                        <h6 class="side-top h6">Kalnciema kvartāla tirdziņš</h6>
                        <h6 class="side-bottom h6">Kalnciema iela 35, Rīga</h6>
                      </div>
                  </div>
                  <div class="h6 bottom">Vai pie mums Ragārēs, Skrīveru novadā, iepriekš zvanot pa tel. 29229588 vai 65197569
                  </div>
                </div>
              </div>
            </div>
            <div class="post row" id="ekskursijas" data-aos="fade-up">
              <div class="image-wrap col col-6 col-xs-12 col-sm-12 col-md-12">
                <div class="image-where section-bg" style="background-image: url('${require(`./img/where.png`)}')"></div>
              </div>
              <div class="calendar">
                <div class="hover-block-active hover-block">
                  <div class="title h6">Sastopams:</div>
                  <div class="top-hover-block">
                    <span class="icon-watch">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </span>
                    <div class="date-time">
                      <div class="from-date">1.jūnijs - 3.jūnijs</div>
                      <div class="from-time">10:00 - 16:00</div>
                    </div>
                  </div>
                  <div class="bottom-hover-block">
                    <span class="icon-location-pin"></span>
                    <div class="place h6">Kalnciema kvartāls, Rīga</div>
                  </div>
                </div>
                <div class="hover-block-busy hover-block">
                  <div class="title h6">Aizņemts:</div>
                  <div class="top-hover-block">
                    <span class="icon-watch">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </span>
                    <div class="date-time">
                      <div class="from-date">Trešdiena, 20.jūnijs</div>
                      <div class="from-time">15:00 - 17:00</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-area col col-6 col-xs-12 col-sm-12 col-md-12 flex-c-column">
                <div class="text eks-sem-text">
                  <h3 class="h3 eks-title title">ekskursijas un semināri</h3>
                  <h6 class="h6 eks-subtitle">Piedāvājam grupām:</h6>
                  <ul class="eks-list">
                    <li class="h6">Apskatīt, aptaustīt, pasmaržot vairāk kā 100 dažādus ārstniecības augus dabā, uzzināt par tiem ko vairāk</li>
                    <li class="h6">Uzzināt daudz ko jaunu par saimniekošanu ar bioloģiskajām metodēm</li>
                    <li class="h6">Uz vietas nobaudīt gardās ekoloģiskās tējas, ogas un augļus</li>
                    <li class="h6">Iegādāties Ragāru ražotos produktus</li>
                    <li class="h6">Iegūt savā īpašumā dažādu interesantu augu stādus - aktinīdijas, citronliānas, lielaugļu lazdas, melnais plūškoks, irbenes u.c.</li>
                  </ul>
                  <h6 class="h6 eks-bottom">Nepieciešams iepriekš pieteikties, mūsu jautrajam kolektīvam arī ir kaut kad jāstrādā!</h6>
                  <button class="h5 btn-main join">pieteikties</button>
                </div>
              </div>
            </div>
          </div>
          <div id="myModal" class="modal">
            <div class="modal-wrap flex-c-column">
              <div class="modal-container col">
                <div class="close-forms row">
                  <span class="icon-exit"></span>
                </div>
                <h4 class="title h4 flex-x-c">pieteikties ekskursijai vai semināram</h4>
                <form class="top-form-wrap row m-x-0">
                    <div class="form-full w-50">
                      <div class="top flex-y-c">
                        <div class="p-info h6">Vārds Uzvārds</div>
                        <div class="required h6">(obligāts)</div>
                      </div>
                      <input type="text" class="input">
                    </div>
                    <div class="form-full w-50">
                      <div class="top flex-y-c">
                        <div class="p-info h6">Uzņēmuma nosaukums</div>
                      </div>
                      <input type="text" class="input">
                    </div>
                    <div class="form-full w-50">
                      <div class="top flex-y-c">
                        <div class="p-info h6">E-pasts</div>
                        <div class="required h6">(obligāts)</div>
                      </div>
                        <input type="email" class="input  error">
                        <div class="error-text">ievadiet pareizu e-pastu</div>
                    </div>
                    <div class="form-full w-50">
                      <div class="top flex-y-c">
                        <div class="p-info h6">Tālrunis</div>
                        <div class="required h6">(obligāts)</div>
                      </div>
                      <input type="text" class="input">
                    </div>
                    <div class="form-full w-50">
                      <div class="top flex-y-c">
                        <div class="p-info h6">Datums un laiks</div>
                        <div class="required h6">(obligāts)</div>
                      </div>
                      <div class="input-wrap row m-x-0">
                        <input class="input date-form" style="background-image: url('${require(`./img/calendar.png`)}')">
                        <select class="input time-form">
                          <option value="volvo">09:00</option>
                          <option value="saab">15:00</option>
                          <option value="mercedes">13:00</option>
                          <option value="audi">07:00</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-full w-50">
                    </div>
                    <div class="form-full boxes row m-x-0 w-50">
                      <label class="control control-checkbox h6">
                        Ekskursija
                        <input type="checkbox" >
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox h6">
                      Pusdienas
                      <input type="checkbox" >
                      <div class="control_indicator"></div>
                    </label>
                    </div>

                    <div class="form-full w-100">
                      <div class="top flex-y-c">
                        <div class="p-info h6">Papildus informācija</div>
                      </div>
                      <textarea class="textarea input"></textarea>
                    </div>
                    <div class="form-full boxes row m-x-0 w-100">
                      <label class="control control-checkbox h6">
                        Jūs piekrītiet, ka Jūsu dati tiks izmantoti likumdošanā noteiktā kārtībā un tiks saglabāti līdz brīdim, kamēr tas būs nepieciešams.
                        <input type="checkbox" >
                        <div class="control_indicator"></div>
                      </label>
                    </div>
                    <div class="form-full w-100">
                      <img src="${require(`./img/recaptcha.png`)}" alt="">
                    </div>
                    <div class="form-full w-100">
                      <button type="submit" class="btn-main h5 form-btn">pieteikties</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <section class="google-maps-section" id="google-maps-section">
          <div class="container">
            <div class="post row" data-aos="fade-up">
              <div class="map-wrap col col-6 col-xs-12 col-sm-12 col-md-12">
                <div id="acf-map" class="">
                  <div class="marker" data-lat=""></div>
                </div>
              </div>
              <div class="text-area col col-6 col-xs-12 col-sm-12 col-md-12 flex-c-column">
                <div class="eks-sem-text text">
                  <h3 class="h3 title">kā mūs atrast</h3>
                  <div class="subtitle p">"Ragāres" atrodas Skrīveru novadā, 80km attālumā no Rīgas ceļojot pa A6 (Daugavpils šoseju), kalnā virs 'Klidziņas'.</div>
                  <div class="subtitle p">
                    <div class="top-subtitle h6">Telefons</div>
                    <div class="bottom-subtitle">29229588, 65197569</div>
                  </div>
                  <div class="subtitle p">
                    <div class="top-subtitle h6">E-pasts</div>
                    <div class="bottom-subtitle">eco@ragares.com </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
			</main>

      <script>
        function initMap() {
        var myLatLng = {lat: 56.626500, lng: 25.088639};

        var map = new google.maps.Map(document.getElementById('acf-map'), {
          zoom: 13,
          center: myLatLng
        });

        var image = '${require(`./img/location-pin-red.png`)}';

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: image
        });
      }    
      </script>
      <script>
      
      </script>
  






      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBO3a0PTs3Vn2AnW_7u0hYxTBEOP3BorKA&callback=initMap"></script>


            <!-- /site content -->

${require('./footer.html')}