${require('./header.html')}

<main class="site-content" >
	<section class="product-info-page bg-overlay">
		<div class="container">
      <div class="post row">
        <div class="col col-6 col-xs-12 col-sm-12 col-md-12">
          <div class="image-wrap info-slider">
            <div class="image-where section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <div class="image-where section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')"></div>
          </div>
        </div>
        <div class="text-area col col-xs-12 col-6 col-sm-12 col-md-12 flex-c-column">
          <div class="eks-sem-text text">
          	<div class="about-product">
	            <h3 class="h3 title">Vitamīnu tēja ar ehinācejām</h3>
	            <p class="subtitle p">Garšīga ikdienā dzerama tēja, kas veicina imunitātes paaugstināšanos organismā (ehinācija, ugunspuķe).<br>Šo efektu pastiprina vitamīniem bagātu augu klātbūtne. <br>Ehināciju neitrālo garšu uzlabo interesanta, imunitāti pastiprinošu un organismam nepieciešamos vitamīnus nodrošinoša, augu buķete. Tējas regulāra dzeršana mazina saslimšanas iespēju un iedarbojas viegli tonizējoši. Uzlabo labsajūtu. Ieteicama arī bērniem, lietojot mazākas devas.</p>
	           </div>
	           <div class="sastavs-block">
	            <h4 class="title h4">sastāvs</h4>
	            <ul class="list flex">
	            	<li class="">Ehinācija</li>
	            	<li class="">Ugunspuķe</li>
	            	<li class="">Āboli</li>
	            	<li class="">Lielā nātre</li>
	            	<li class="">Pelašķi</li>
	            	<li class="">Ģaiļbiksītes</li>
	            	<li class="">Smiltsērkšķi</li>
	            </ul>
            </div>
            <button class="require btn-main h5">vēlos iegādāties</button>

            <div id="myModal" class="modal modal-product">
            <div class="modal-wrap flex-c-column">
              <div class="modal-container col">
                <div class="close-forms row">
                  <span class="icon-exit"></span>
                </div>
                <h4 class="title h4 flex-x-c">vēlos iegādāties</h4>
                <form class="top-form-wrap row m-x-0">
                <div class="col-12 flex">
                	<div class="product-choice">
	                	<div class="product-added flex">
		                    <div class="form-full w-50">
		                      <div class="top flex-y-c">
		                        <div class="p-info h6">Izvēlies produktu</div>
		                      </div>
		                      <select class="input time-form product-choose">
		                        <option value="volvo">Rudzupuķe</option>
		                        <option value="saab">kaut kāda tēja</option>
		                        <option value="mercedes">Lielais greizas rats</option>
                            <option value="mercedes">Lielais greizas rats</option>
                            <option value="mercedes">Lielais greizas rats</option>
                            <option value="mercedes">Lielais greizas rats</option>
		                        <option value="audi">Nebūšu biologs :(</option>
		                      </select>
		                    </div>
		                    <div class="form-full row w-50 daudzums-form">
													<h6 class="left h6 flex-y-c">Daudzums</h6>
													<div class="right flex-y-c">
														<span class="icon-count-minus"></span>
														<p class="daudzums" value="1">1</p>
														<input type="hidden" name="product_quantity[0]" value="1">
														<span class="icon-count-plus"></span>
													</div>
		                    </div>
	                  </div>
                  </div>
                  <div class="flex add-product-wrap w-50">
                  	<span class="icon-count-plus add-product-icon"></span>
                  	<h5 class="add-product">Pievienot jaunu produktu</h5>
                  </div>
                	<div class="form-full col-input w-100">
                    <div class="top flex-y-c">
                      <div class="p-info h6">Vārds Uzvārds</div>
                      <div class="required h6">(obligāts)</div>
                    </div>
                      <input type="email" class="input">
                  </div>
                  	<div class="form-full w-50">
                      <div class="top flex-y-c">
                        <div class="p-info h6">E-pasts</div>
                        <div class="required h6">(obligāts)</div>
                      </div>
                        <input type="email" class="input">
                    </div>
										<div class="form-full w-50">
                      <div class="top flex-y-c">
                        <div class="p-info h6">Tālrunis</div>
                        <div class="required h6">(obligāts)</div>
                      </div>
                      <input type="text" class="input">
                    </div>
                  <div class="col-input w-100">
                  	<h5 class="h5 delivery-info">piegādes informācija</h5>
                  </div>
                  <div class="col-input w-100">
                  	<div class="form-full">
                      <div class="top flex-y-c">
                        <div class="p-info h6">Adrese</div>
                      </div>
                        <input type="email"  class="input">
                        <p class="delivery-where">Piegāde uz mājām Rīgas reģionā vai ar pakomātu: 16.55 EUR</p>
                    </div>
                  </div>
                  <div class="col-input bottom-form more-info-form w-100">
										<div class="form-full">
                      <div class="top flex-y-c">
                        <div class="p-info h6">Papildus informācija</div>
                      </div>
                      <textarea class="textarea input"></textarea>
                    </div>
                  <div class="form-full boxes">
	                  <label class="control control-checkbox h6">
	                    Jūs piekrītiet, ka Jūsu dati tiks izmantoti likumdošanā noteiktā kārtībā un tiks saglabāti līdz brīdim, kamēr tas būs nepieciešams.
	                    <input type="checkbox" >
	                    <div class="control_indicator"></div>
	                  </label>
                  </div>
                  <div class="form-full">
                    <img class="img-form" src="${require(`./img/recaptcha.png`)}" alt="">
                  </div>
                  <div class="form-full">
                    <button type="" class="btn-main h5 form-btn submit-buy">nosūtīt pieprasījumu</button>
                  </div>
                </div>
              </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal second-modal">
            <div class="modal-wrap flex-c-column">
              <div class="modal-container col">
                <div class="close-forms row">
                  <span class="icon-exit"></span>
                </div>
                <div class="acc-img flex-x-c">
                  <img src="${require(`./img/accepted-buy.png`)}" alt="">
                </div>
                <div class="thanks-mes flex-x-c">
                  <div class="h4">Paldies,<br/>Pieparasījums nosūtīts!</div>
                </div>
                <div class="flex-x-c text-sec-mod">Par apmaksu un piegādi ar Jums kontaktēsies tuvāko dienu laikā.</div>
                <button type="submit" onclick="getData()" class="btn-main h5 flex-x-c close-btn">aizvērt</button>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="video-block flex-x-c">
  	<div class="container">
  		<div class="row m-x-0">
				<div class="video">
          <div class="inner">
					 <iframe src="https://www.youtube.com/embed/byURQ03iZQA" width="100%" height="100%" frameborder="0"></iframe>
          </div>
				</div>
			</div>
  	</div>
  </section>
</main>


            <!-- /site content -->

${require('./footer.html')}