${require('./header.html')}

<main class="site-content" >
	<section class="top-bg top-bg-products section-bg overlay" style="background-image: url('${require(`./img/produkti.png`)}')">
		<div class="text-wrap block-fit-parent">
			<div class="container">
				<div class="row m-x-0 flex-c-column">
			    <h2 class="h2">produkti</h2>
			  </div>
		  </div>
		</div>
	</section>
	<section class="product-page bg-overlay">
		<div class="container">
			<div class="row m-x-0">
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
        <div class="content">
          <div class="full">
            <div class="before-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/slide_1.png`)}')"></div>
            <a href="product-info.html" class="after-hover inner block-fit-parent section-bg" style="background-image: url('${require(`./img/vegetables.jpg`)}')">
              <div class="info">
                <h5 class="h5 flex-x-c flex-y-c">skatīt produktu</h5>
              </div>
            </a>
          </div>
          <div class="title h5">sieviešu teja</div>
        </div>
      </div>
    </div>
   </section>
</main>


            <!-- /site content -->

${require('./footer.html')}