/* Site header and footer */

// Site Header
.site-header {
	position: fixed;
	width: 100%;
  	z-index: 99;
	transition: .4s ease-in-out;
}
.header-1st-row {
	padding-top: 22px;
	padding-bottom: 22px;
	z-index: 2;
	.main-site-logo { max-height: 75px; }
}
.mobile-menu-wrap {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media( max-width: $breakpoint_lg ) {
	.site-header {
		position: fixed;
	}
	.header-1st-row {
		.main-site-logo { margin-right: 20px; }
	}
	.not--top .site-header {
		padding-top: 0;
		.header-1st-row {
			padding-top: 17px;
			padding-bottom: 17px;
		}
	}
	.not--top .site-header { transform: translateY(0)	}
	.not--top-down .site-header { transform: translateY(-110%) }
	body.mobile-menu-open.not--top-down .site-header { transform: translateY(0) }
}

@media( max-width: $breakpoint_md ) {
	.site-header { padding-top: 18px; }
}

.header-menu {
	margin-right: 120px;
	a { padding: 12px; }
	li:first-child a { padding-left: 0; }
	li:last-child a { padding-right: 0; }
}
.lang-switcher {
	a { padding: 12px 16px; }
	li:last-child a { margin-right: -16px; }
}
.header-menu,
.lang-switcher {
	li:last-child a:after { content: none; }
	a:after {
		content: "";
		position: absolute;
		top: 12px;
		right: 0;
		bottom: 12px;
		width: 2px;
		background-color: $c_white;
	}
}

	// Mobile menu
.mobile-menu-icon {
	padding: 10px;
	margin-right: -10px;
	.inner {
		width: 50px;
		height: 28px;
	}
	span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		opacity: 1;
		left: 0;
		transform: rotate(0);
		transition: .2s ease-in-out;
		background-color: $c_default;
		&:nth-of-type(1) { top: 0 }
		&:nth-of-type(4) { top: 24px }
		&:nth-of-type(2),
		&:nth-of-type(3) {
		  top: 12px
		}
	}
}
.mobile-menu-icon.open {
	span {
		&:nth-of-type(1),
		&:nth-of-type(4) {
		  opacity: 0;
    	transform: translate(0, 9px) scale(.1)
		}
		&:nth-of-type(2) { transform: rotate(45deg) }
		&:nth-of-type(3) { transform: rotate(-45deg) }
	}
}
body.mobile-menu-open .site-header { background-color: black; }

@media( max-width: $breakpoint_lg ) {
	.mobile-menu-wrap {
		display: none;
		padding-top: 42px;
		padding-bottom: 50px;
		.header-menu {
			flex-wrap: wrap;
			margin-right: 6px;
			li {
				width: 100%;
				a {
					padding-left: 0;
					&:after {
						top: auto;
						right: auto;
						bottom: 0;
						left: 2px;
						width: 15px;
						height: 2px;
					}
				}
			}
		}
	}
}


// Site Footer
.site-footer {
	min-height: 50px;
}