/* Typography */

// Add web fonts
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Headings
.p, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: $c_default;
}
.h1 {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 50px;
  line-height: 1.2;
}
.h2 {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 42px;
  line-height: 1.2;
  text-transform: uppercase;
}
.h3 {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
}
.h4 {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}
.h5 {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.h6 {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
.header-menu a,
.lang-switcher a {
  text-decoration: none;
  color: $c_default;
}
.a, a {
  color: $c_accent;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

@media( max-width: $breakpoint_lg ) {
  .h1 { font-size: 40px; }
}

@media( max-width: $breakpoint_md ) {
  .h1 { font-size: 32px; }
  .h1.small { font-size: 50px; }
  .h2.small { font-size: 24px; }

  .h2{
    font-size: 24px;
  }
  .h3{
    font-size:21px;
  }
}

.textarea br {
  content: "";
  display: block;
  margin-top: 20px;
}

ol {
  list-style-type: none;
  counter-reset: ol-counter;
  li {
    padding-left: 15px;
    counter-increment: ol-counter;
    &:before {
      content: counter(ol-counter)".";
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 10px;
      transform: translateX(-100%);
      font-weight: 700;
    }
  }
}

// Editor wrapper styles
.editor-wrapper {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px;
  }
  ul,
  ol,
  li { margin-bottom: 14px; }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li {
    &:last-child { margin-bottom: 0 !important; }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 35px;
  }
}