


.big-text-post {
  width: 100%;
  display:inline-block;
}
.big-text-post .text-area{
  margin:0 auto;
}
.content {
  text-decoration:none;
  cursor: pointer;
  }

  @keyframes hover-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hover-animate { animation: hover-animate 0.2s forwards; }


//burger menu

$aside-width: 230px;

%item {
  position: relative;
  width: 35px;
  height: 2px;
  margin-bottom: 18px;
  background-color: #fff;
  border-radius: 3px;
}

.menu {
  transition: transform 500ms ease 0s;

  &.active {
    transform: translate3d($aside-width, 0, 0);

    & ~ aside {
      transform: translate3d(0, 0, 0);
    }
  }
}
.before-menu-click-1{
  top: 10px!important;
  transition: top 1s;
}
.before-menu-click-3{
  top: -10px!important;
  transition: top 1s;
}

.menu__item--1,
.menu__item--2,
.menu__item--3 {
  @extend %item;
}

.burger-side {
  transform: translate3d(-100%, 0, 0);
  transition: transform 500ms ease 0s;

  width: $aside-width;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #1A1A1A;
  z-index: 2;
}

// reset button styles
button {
  border: none;
  background: none;
  outline: 0;
  padding: 50px;
}

//////////////////////////
.not--top .site-header {
  -webkit-transform: none!important;
  transform: none!important;
}

.button-row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-main:hover{
    a{ color: white; }
  }
}
.error{
  border: 1px solid #DD3E4B!important;
  background-color: #FCE6E8!important;
}
  .error-text{
    margin-top:3px;
    font-family:'Roboto-Light';
    font-size: 16px;
    color: #DD3E4B;
  }
.btn-main{
  border: 1px solid #1A1A1A;
  border-radius: 3px;
  padding: 23px 41px;
  letter-spacing: 2px;
  color: #1A1A1A;
  cursor: pointer;
  margin-top:26px;
  a{
    color: #1A1A1A;
    text-decoration: none;
  }
}
.btn-about{ padding:23px 58px; }
.btn-watch{ padding: 21px 26px; }
.join{
  padding: 20px 51px;
  margin-top: 30px;
}

.icon-arrow-left{
  transform: translate(0%, -60%) rotate(180deg);
  top:50%;
  width:55px;
  height:100%;
  z-index: 1;
}
.icon-arrow-right{
  top: 41%;
  width: 55px;
  height: 106%;
  z-index: 1;
  margin-top: 3%;
  padding-bottom: 6%;
}
.icon-arrow-left, .icon-arrow-right:hover{ background: #F3E9E3!important; }

.btn-main:hover{
  background-color: #1A1A1A;
  color: white!important;
}
.head-active{ background-color: rgba(#1A1A1A, 0.9); }

.products-head-active { background-color: #1A1A1A; }

.active-nav{ opacity:1!important; }

.container{
  padding-left:50px;
  padding-right: 50px;
  height:100%;
}

.overlay:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#1A1A1A, 0.3); }

.input{
  width: 100%;
  height: 47px;
  border: none;
  background-color: #F3E9E3;
  border-radius:3px;
  padding-left: 16px;
  padding-right: 16px;
  font-family:'Roboto-Light';
  font-size: 16px;
  color: #191919;
}



.site-header{
  margin: 0;
  height: 80px;
  .row{ height:100%; }

  .logo{
    position: absolute;
    height: 100%;
    z-index: 1;
  }
  .left{
    margin-left: 62px;
    float: left;
  }
  .nav {
    flex-grow:1;
    margin-left: 112px;
  }
  .languages{
    float: right;
    a{ padding:7px; }
  }
  ul{
    list-style: none;
    margin: 0 auto;
    li{ letter-spacing: 2.2px; }
    a{
      color: white;
      text-decoration: none;
      opacity: 0.65;
      padding: 15px;
    }
    a:hover{
      opacity: 1;
    }
  }
}

@media( max-width: 1220px ) {
  .site-header{
    background: #1A1A1A;
    height:60px;
    .burger-menu{
      height:60px;
      width:100%;
    }
    .menu{
      padding:0;
      margin-top:15px;
    }
    .burger-side{
      margin-left: -50px;
      height:100%;
    }
    .first-ul{
      display: block;
      background: #1A1A1A;
      height:100vh;
      padding-left:10px;
    }
    .second-ul{
      height:100%;
      padding-left:10px;
    }
  }
}
@media( max-width: 767px ) {
  .site-header{ padding:0; }
  .burger-side{ margin-left: -25px!important; }
}



.first {
  min-height:100vh;
  .top {
    padding-top:80px;
    img { max-width: 242px; }
    }
  .bottom{
    margin: 0;
    padding-bottom:64px;
    .left{ max-width: 711px;}
  }
  .title{
    color: white;
    letter-spacing: 1.5px;
    margin-bottom: 3px;
  }
  .subtitle{
    color: white;
    letter-spacing: 0.7px;
    margin-left: 3px;
  }
  .right{
    flex-grow: 1;
    border-top: 1px solid white;
    margin-left: 7px;
    margin-top: 30px;
    float: right;
  }
  .product-dot{
    position: absolute;
    cursor: pointer;
    transform: translate(-50%,-50%);
    z-ibndex:2;
    }
  .dot-1{
    top: calc(50% - 97px);
    left: calc(50% + 10px);
  }
  .dot-2{
    top: calc(50% - 68px);
    left: calc(50% + -111px);
  }
  .dot-3{
    top: calc(50% - -68px);
    left: calc(50% + -112px);
  }
  .dot-4{
    top: calc(50% - -80px);
    left: calc(50% + 9px);
  }
  .product-wrap{
    position: absolute;
    height:0;
    z-index:2;
  }
  .product-wrap-1{
    top: calc(50% - 184px);
    width: 100%;
    .decor{
      border-top: 2px solid white;
      width: 0%;
      left: calc(50% - -113px);
      right: 58px;
      transition: all 1.5s;
    }
    .decor-rotate{
      transform: rotate(141deg);
      width: 134px;
      border-top: 2px solid white;
      left: calc(50% - 6px);
      top: 44px;
    }
  }
  .product-wrap-2{
    top: calc(50% - 146px);
    width: 100%;
    .decor{
      border-top: 2px solid white;
      width: 0%;
      left: calc(50% - 223px);
      right: 58px;
      transform: translateX(-100%);
      transition: all 1.5s;
    }
    .decor-rotate{
      transform: rotate(34deg);
      width: 134px;
      border-top: 2px solid white;
      left: calc(50% - 236px);
      top: 35px;
    }
    .right-wrap{
      float: left;
      left: 50px;
    }
  }

  .product-wrap-3{
    top: calc(50% - 9px);
    width: 100%;
    .decor{
      border-top: 2px solid white;
      width: 0%;
      left: calc(50% - 223px);
      right: 58px;
      transform: translateX(-100%);
      transition: all 1.5s;
    }
    .decor-rotate{
      transform: rotate(34deg);
      width: 134px;
      border-top: 2px solid white;
      left: calc(50% - 236px);
      top: 35px;
    }
    .right-wrap{
      float: left;
      left: 50px;
    }
  }


  .product-wrap-4{
    top: calc(50% - 8px);
    width: 100%;
    .decor{
      border-top: 2px solid white;
      width: 0%;
      left: calc(50% - -112px);
      right: 58px;
      transition: all 1.5s;
    }
    .decor-rotate{
      transform: rotate(141deg);
      width: 134px;
      border-top: 2px solid white;
      left: calc(50% - 6px);
      top: 44px;
    }
  }

@keyframes my-animation {
  from { width: 0!important; }
  to { width: 32%; }
}

@keyframes title-animation {
  from { opacity: 0; }
  to { opacity: 1; }
}

.decor-animate { animation: my-animation 1.5s forwards; }
.title-animate{
  animation: title-animation 0.5s forwards;
  animation-delay: 1.5s;
}

  .right-wrap{
    float: right;
    width: 185px;
    .title{
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    position: absolute;
    bottom: 14px;
    opacity:0;
    }
  }
  .decor-list{
    list-style: none;
    top: 8px;
    opacity:0;
    li{
      font-family: 'Roboto-Light';
      color: white;
      letter-spacing: 1px;
      padding-bottom: 12px;
      padding-left: 17px;
    }
    li:before{
      font-family: 'icomoon';
      content: "\E908";
      color: #ddcac0;
      font-size: 8px;
      position: absolute;
      top: 4px;
      bottom: 0;
      left: 0;
    }
  }
}
//first section tablet media width
@media( max-width: 1220px ) {
  .first{
    .title-animate{
      animation: title-animation 0.5s forwards;
      animation-delay: 0.2s!important;
    }
    .subtitle{
      position:absolute;
      width:100vw;
      padding-right:40px;
      letter-spacing:0.2px;
    }
    .right{
      margin-top:27px;
      margin-left:40px;
    }
    .decor-rotate{ display: none; }
    .decor{
      width:100%!important;
      border-top:none!important;
      transform:none!important;
      right:0!important;
      left:0!important;
      background: rgba(#1A1A1A, 0.9);
      padding:30px 20px;
      .icon-exit{
        position: absolute;
        right: 22px;
        top: 16px;
      }
      .icon-exit:hover:before{ color:#fff; }
    }
    .right-wrap{
      left:0!important;
      right:0!important;
      float:none!important;
      width:auto;
    }
    .title-wrap{ padding-right:100px; }
    .product-wrap{
      width:360px!important;
      right:20px!important;
      top:0!important;
      .title{
        top:0;
        bottom:0;
        position: relative;
        border-bottom: 1px solid white;
        padding-left:20px;
        padding-bottom:10px;
      }
      .decor-list{ padding-left:20px; }
    }
  }

}

@media( max-width: 767px ) {
  .first{
    .subtitle{
      position:relative;
      width:initial;
      padding-right:0px;
    }
    .right{ display: none; }
  }

}

.home-products {
  padding-top: 65px;
  .container {
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .slick-disabled:before{ display: none; }

  .slider { width: auto; }

  .slick-slide {
    border-right: 1px solid #DDCAC0;
    .inner {
      padding-top: 102.5%;
      margin: 0px 30px;
      cursor: pointer;
    }
    .full{ padding-top:102.5%; }

    .after-hover{
      z-index:3;
      opacity:0;
    }

    .title{
      margin: 0px 30px;
      height: 65px;
      letter-spacing: 2px;
      color: #1A1A1A;
      text-align: center;
      padding-top: 31px;
      cursor:pointer;
    }
  }
  .info{
    background-color: #1A1A1A;
    position: absolute;
    bottom: 0;
    left: 23%;
    right: 23%;
    height: 13%;
    width: 56%;
    h5{
      color: white;
      height: 100%;
      letter-spacing: 2px;
    }
  }
}

@media( max-width: 1200px ) {
  .home-products{
  .container{
    padding-left:25px;
    padding-right:25px;
  }
  .row{
    padding-bottom:66px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
  }
  .slider{
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left:-25px;
    margin-right:-25px;
    padding-bottom:0px;
  }
  .content{
    width:300px;
    border-top: 1px solid #DDCAC0;
    border-right: 1px solid #DDCAC0;
    flex: 0 0 auto;
  }
  .inner {
    padding-top: 102.5%;
    margin: 0px 30px;
    cursor: pointer;
  }
  .full{
    padding-top:102.5%;
    margin-top:30px;
  }
  .after-hover{
    z-index:3;
    opacity:0;
  }


  .title{
    margin: 0px 30px;
    min-height: 65px;
    letter-spacing: 2px;
    color: #1A1A1A;
    text-align: center;
    margin-top: 31px;
  }
  .info{
  background-color: #1A1A1A;
  position: absolute;
  bottom: 0;
  left: 23%;
  right: 23%;
  height: 13%;
  width: 56%;
  h5{
    color: white;
    height: 100%;
    letter-spacing: 2px;
    }
  }
  }
}
.one-post{
  .container .post:nth-child(1) .text-area .title:before{ border-top: none!important; }

  .container .post:nth-child(1) .text-area .title:after{
    content:"";
    position: absolute;
    border-top: 1px solid #DDCAC0;
    width: 500px;
    position: absolute;
    display: block;
    top: 17px;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 106%;
  }
}

.blog-post{
  .container .post:nth-child(2n+1) .image-wrap{order:2!important;}
  .container .post:nth-child(2n+1) .text-wrap{order:1!important;}

  .container .post:nth-child(2n+2) .image-wrap { order:1!important;}
  .container .post:nth-child(2n+2) .text-wrap { order:2!important;}
  .container .post:nth-child(2n+2) .text-area .title:before{border-top: none;}

  .container .post:nth-child(2n+2) .text-area .title:after{
    content:"";
    position: absolute;
    border-top: 1px solid #DDCAC0;
    width: 500px;
    position: absolute;
    display: block;
    top: 17px;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 106%;
  }

  .container .post:nth-child(2n+2) .text-area .title:after{
    content:"";
    border-top:none!important;
  }
  .first-title:before{ border-top: 1px solid #DDCAC0!important; }

  .container .post:nth-child(2n+1) .text-area .title:after{
    content:"";
    border-top: 1px solid #DDCAC0!important;
  }

  .container .post:nth-child(2n+2) .text-area .title:before{
    content:"";
    position: absolute;
    border-top: 1px solid #DDCAC0;
    width: 500px;
    position: absolute;
    display: block;
    top: 17px;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 107%;
  }
}

.blog-post{
  .container{
    height:auto!important;
  }
  .post-no-overlay{
   padding-bottom:100px;
   margin-top:30px;
  }

  .about-text-area{
    .text{
      max-width: 820px!important;
      margin:0 auto;
    }
    .title:after{
      content:"";
      border-top:none!important;
    }
  }
  .big-text-post{ padding-top:65px!important; }

  .typical-post{ padding-top:90px!important; }
}
.one-post,.about-us, .where-seminari, .google-maps-section, .product-info-page, .blog-post{
  .post{ padding-top: 100px; }

  .container .post:nth-child(2n+2) .image-wrap{ order: 2;}

  .container .post:nth-child(2n+2) .text-area{ order: 1;}

  .container .post:nth-child(2n+2) .text-area .title:after{
    content:"";
    position: absolute;
    border-top: 1px solid #DDCAC0;
    width: 500px;
    position: absolute;
    display: block;
    top: 17px;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 106%;
  }

  .container .post:nth-child(2n+1) .text-area .title:before{
    content:"";
    position: absolute;
    border-top: 1px solid #DDCAC0;
    width: 500px;
    position: absolute;
    display: block;
    top: 16px;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 107%;
  }

  .where-img{ padding-right:15px!important; }

  .image-wrap{
    float: left;
    width: 100%;
    z-index:2;
  }
  .image{
    padding-top: 67.5%;
    width:100%;
  }
  .text-area { width: 100%; }

  .text-where{
    max-width:100%!important;
    margin-left:105px!important;
  }
  .text{
    max-width:407px;
    .title{
      letter-spacing: 4px;
      color: #1A1A1A;
    }
    .subtitle{
      margin-top: 22px;
      line-height: 23px;
      font-family: 'Roboto-Light';
      color: #1A1A1A;
      letter-spacing:0.8px;
    }
  }
  .locations {
    margin: 0;
    margin-top: 22px;
    margin-left: -59px;
  }
  .side-top { letter-spacing: 1px; }

  .side-bottom {
    font-family: 'Roboto-Light';
    letter-spacing: 0.8px;
  }
  .where-loc {
    padding-bottom: 31px;
    width: calc(100% / 2 - 59px);
    margin-left: 59px;
  }
  .image-where {
    padding-top: 120%;
    width:100%;
  }
  .bottom {
    padding-top: 28px;
    max-width: 390px;
    letter-spacing: 1px;

  }
  .eks-title{ margin-bottom: 23px; }

  .eks-subtitle{
   font-family: 'Roboto-Light';
   font-weight: 400;
  }

  .eks-list{
    margin-top: 15px;
    padding-left: 2px;
    padding-right: 25px;
    list-style: none;
    li{
      padding-bottom: 20px;
      font-family: 'Roboto-Light';
      padding-left: 25px;
      letter-spacing: 0.8px;
      line-height: 22px;
    }
    li:before{
      font-family: 'icomoon';
      content: "\E908";
      color: #ddcac0;
      font-size: 8px;
      position: absolute;
      top: 4px;
      bottom: 0;
      left: 0;
    }
  }
  .eks-bottom{ margin-top:4px; }

  .eks-sem-text{
    max-width: 400px;
    margin-left:8px;
  }

  .calendar{
    position: absolute;
    z-index: 100;
    top: calc(50% + 152px);
    left: calc(50% + -92px);
  }

  .hover-block{
    display:none;
    position: absolute;
    border: 1px solid #C8C8C8;
    width: 205px;
    z-index: 30;
    background-color: white;
    padding: 10px 15px;
    padding-right: 0;
    top: 50px;
    left: 34px;
    .title{ letter-spacing: 1px; }

    .top-hover-block{ margin-top:10px; }

    .icon-watch{
      position: absolute;
      font-size: 17px;
      top: -15px;
    }
    .icon-location-pin{
      position: absolute;
      font-size: 23px;
    }
    span{
      display: inline-block;
      padding:0;
    }
    .date-time{
      margin-left: 28px;
      font-family: 'Roboto-Light';
      letter-spacing: 1px;
      line-height:21px;
    }
    .bottom-hover-block{ margin-top: 13px; }

    .place{
      margin-left: 28px;
      font-family: 'Roboto-Light';
      letter-spacing: 1px;
      line-height:21px;
    }
  }








  .modal {
    display: none;
    position: fixed;
    z-index: 120;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    .w-50{
      width:50%;
      padding:0px 15px;
    }
    .w-100{
      padding:0px 15px;
      width:100%;
    }
    .title{
      padding-top: 35px;
      letter-spacing: 2.8px;
    }
  }
  .second-modal{
    .modal-container{ padding:34px 0px; }

    .acc-img, .thanks-mes, .text-sec-mod{ padding-bottom: 16px; }

    .text-sec-mod{
      letter-spacing:0.8px;
      text-align:center;
    }
    .thanks-mes{
      .h4{
       text-align:center;
       letter-spacing:1px;
      }
    }
    button{
      margin: 0 auto;
      padding:20px 68px!important;
    }
  }
  .modal-wrap{
    min-height:100vh;
    padding:20px 0px;
    .close-forms {
      color: #A3A3A3;
      font-size: 13px;
      position: absolute;
      right: 31px;
      top: 17px;
      z-index:130;
  }

  .close-forms:hover{ cursor: pointer; }
  .close-forms:hover .icon-exit:before{ color: #191919; }
  }
  .modal-container {
      background-color: #fefefe;
      border: 1px solid #888;
      width: 50%;
  }
  .modal-product .top-form-wrap{
    padding-top:15px;
  }
  .top-form-wrap{
    padding-top:30px;

        /* width */
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #F3E9E3;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #8a8e80;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4c4f47;
    }

    .search-txt{
      height:100%;
      background: #F3E9E3;
    }


    .flex{ width:100%; }

    .top{ margin-bottom:8px; }

    .p-info{
      letter-spacing: 1px;
      float: left;
      margin-right:8px;
    }
    .required{
      float: right;
      font-family: 'Roboto-Light';
      letter-spacing: 1px;
      margin-left:auto;
    }
    .form-full{ margin-bottom: 14px; }

    .form-full:last-child{ margin-bottom:30px; }

    .daudzums-form{ margin-top:18px; }

    .date-form{
      width:68%;
      background-repeat: no-repeat;
      background-position: right;
      border-right: 16px solid #F3E9E3;
      }

    .time-form{
      width: 26%;
      margin-left: 6%;
    }
    .icon-calendar{
      position: absolute;
      z-index: 1;
      font-size: 21px;
      left: 56%;
      height: 100%;
    }
    .SumoSelect{
      width:26%;
      margin-left:6%;
      font-family:'Roboto-Light';
      font-size:16px;
      color: #191919;
    }
    .SelectBox { padding: 5px 16px; }
    .SumoSelect > .CaptionCont{
      height:47px;
      background-color: #F3E9E3;
      border: none;
      border-radius:3px;
      span{
        padding:0;
        top:10px;
      }
    }
    .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont, .SumoSelect.open > .CaptionCont { box-shadow: none; }

    .SumoSelect.open > .optWrapper {
      top: 56px;
      max-height: 170px;
      overflow-y: auto;
    }

    .SumoSelect > .optWrapper{
      border:1px solid #C8C8C8;
      box-shadow: none;
    }
    .SumoSelect > .optWrapper > .options {
    border-radius: 2px;
    position: relative;
    max-height: 1000000px;
    overflow:hidden;
}


    .options .selected{ background-color: #F3E9E3; }
    .options .opt{
      margin: 2px;
      padding: 8px 14px!important;
      border-bottom: none!important;
      position: relative!important;
    }
    .SumoSelect > .optWrapper > .options li.opt:hover { background-color: #F3E9E3; }

    .boxes{
      flex-wrap: nowrap;
      margin-right:-28px;
    }
    .control {
        display: block;
        position: relative;
        padding-left: 33px;
        margin-bottom: 0px;
        padding-top: 0px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Roboto-Light';
        color: #1A1A1A;
        letter-spacing: 1px;
        margin-right: 28px;
    }
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .control_indicator {
        position: absolute;
        top: 0px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #fff;
        border: 1px solid #1A1A1A;
        border-radius:3px;
    }


    .control:hover input ~ .control_indicator:after { display: block; }

    .control input:checked ~ .control_indicator {
        background: #A0C24C;
        border: none;
    }
    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control_indicator:after { display: block; }

    .control-checkbox .control_indicator:after {
        left: 8px;
        top: 3px;
        width: 3px;
        height: 9px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }




  }
    .textarea{ height:90px; }

    .form-btn{
      width:100%;
      margin-top:0;
    }
    .img-form{ margin-bottom: -17px; }

  ::-webkit-input-placeholder { color: transparent;}

  .input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
    font-family: 'Roboto-Light';
    font-size: 16px;
    color: #191919;
  }



  ::-moz-placeholder { color: pink; }
  :-ms-input-placeholder { color: pink; }
  :-moz-placeholder { color: pink; }

}

@media( max-width: 1200px ) {
  .modal{
    .modal-container{ width:80%; }
  }
}

@media( max-width: 767px ) {
  .modal{
    .modal-container{ width:80%; }
    .modal-wrap{ padding:20px!important;}
  }
}

.where-seminari{ padding-bottom: 240px; }
  .top-bg{
    width: 100%;
    padding-top:29%;
    h2{
      height: 100%;
      color: white;
      letter-spacing: 6px;
    }
  }
  .top-bg-products{
    padding-top:26%;
    margin-top:80px;
  }
.sertifikati{
  .container{
    height:auto!important;
  }
  .btn-sert{
    padding: 21px 35px;
    margin-top: 33px;
  }
  padding-bottom: 60px;
  .top-bg{
    width: 100%;
    padding-top:29%;
    h2{
      height: 100%;
      color: white;
      letter-spacing: 6px;
      width:auto;
      height:auto;
    }
    .row{ height:100%; }
  }

  .sert-row{
    width:100%;
    margin:0;
    padding: 0px 66px;
    padding-top: 31px;
  }
  .full{
    width: calc(100% / 3);
    text-align:center;
    padding: 0px 40px;
    .image{ height:113px;}
    h5{
      letter-spacing: 2px;
      margin-top: 22px;
      color: #1A1A1A;
    }
  }
}

.google-maps-section{
  padding-bottom: 100px;
  .map-wrap{ width:100%; }

  #acf-map{
    width:100%;
    padding-top:69.5%;
    z-index:2;
  }
  #acf-map > * {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  .bottom-subtitle{ margin-top:-3px; }
}

.site-footer{
  background-position: top center!important;
  width:100%;
  .obj-wrap{
    margin: 0;
    padding-top: 312px;
    padding-bottom: 65px;
  }
  .rights{
    color: white;
    letter-spacing: 0.8px;
    font-family: 'Roboto-Light';
    padding-bottom: 30px;
    padding-left:6px;
  }
  .author{
    margin-left:auto;
    p{
      font-family: 'Roboto-Light';
      color: #fff;
      letter-spacing: 0.8px;
    }
  }
  .foot-obj{ float:left; }

  .location{
    padding-left: 6px;
    h5{
      color: white;
      letter-spacing: 2px;
    }
    p{
      padding-top: 15px;
      color: white;
      letter-spacing: 1px;
      font-family: 'Roboto-Light';
    }
  }
  .contacts-foot{
    padding-left: 88px;
    h5{
      color: white;
      letter-spacing: 2px;
    }
    .cont-row{
      color: white;
      padding-top: 15px;
      margin-left: -27px;
    }
    p{
      font-family: 'Roboto-Light';
      letter-spacing: 1px;
    }
    .cont-obj{
      margin-left: 27px;
      a{
        color:white;
        text-decoration: none;
      }
      a:hover{ text-decoration: underline; }

      a:visited{ color:#191919; }
    }

    .email{
      a{ color: #A0C24C; }
    }
    .mobile{
      a{ text-decoration: none!important; }
      a:hover{
        text-decoration: underline!important;
        color: #A0C24C;
      }
    }
  }

  .social{
    padding-right: 0;
    margin-left: auto;
    .soc-wrap{ float:right; }

    .soc{
      float: left;
      border: 1px solid #A0C24C;
      border-radius: 22px;
      width: 44px;
      height: 44px;
      margin-left: 15px;
      margin-top: 5px;
    }
    .soc:hover{
      border: 1px solid white;
      .soc-icon:before{ color:white; }
    }
    .soc-icon{ height:100%; }
  }
}
  .ui-datepicker-calendar{ margin-bottom:18px!important; }

  #ui-datepicker-div{
    position: absolute !important;
    left: 15px !important;
    top: 80px !important;
    border: 1px solid #C8C8C8;
  }
  .ui-datepicker{
    padding:0!important;
    width: 395px!important;
    border-radius:0!important;
  }
  .ui-datepicker-next span {
    background-image: url('${require(`./img/loaction-pin-red.png`)}') !important;
    background-position: 0px 0px !important;
}
  .title-header{
    padding: 21px 85px;
    font-family: 'Roboto-Bold';
    letter-spacing: 2.8px;
    border-bottom: 1px solid #ddcac0;
    background-color: white;
  }

  .ui-widget.ui-widget-content { border: none; }

  .ui-widget-header {
    color: #1A1A1A;
    font-family: 'Roboto-Bold';
    font-size: 18px;
    background-color: white;
    border: none;
  }
  .ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 12px 36px;
    padding-right: 100px;
  }
  .ui-datepicker .ui-datepicker-prev {
    left: 10px;
    top: 3px;
    float: right;
    transform: rotate(180deg);
    position: relative;
    font-size:21px;
  }
  .ui-datepicker .ui-datepicker-next {
    left: 60px;
    top: 3px;
    float: right;
    position: relative;
    font-size:21px;
  }
  .ui-datepicker .ui-datepicker-title {
    margin: 0;
    line-height: 1.8em;
    text-align: left;
    letter-spacing: 1.8px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { background: white; }

  .ui-datepicker-prev, .ui-datepicker-next {
    span { background-image: none !important; }

    &:before {
        font-family: 'icomoon' !important;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        font-weight: normal;
        align-items: center; justify-content: center;
    }
  }

  .ui-datepicker-prev {
      &:before {
        content: "\e90f";
        font-family: 'icomoon' !important;
        color: #1A1A1A;
        font-weight:700;
      }
  }

  .ui-datepicker-next {
      &:before {
        content: "\e90f";
        font-family: 'icomoon' !important;
        color: #1A1A1A;
        font-weight:700;
      }
  }
  table{
    padding: 0px 20px;
    padding-top: 13px;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    border-collapse: unset;
  }
  tr{
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
  }
  th{
    text-align: center;
    border: 0;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    padding:0;
    padding-bottom:14px;
    flex-grow:1;
    padding: 15px 0px!important;
    width:1px;
    display:inline-block;
  }
  .ui-datepicker td {
    border: none;
    padding: 10px;
    flex-grow:1;
    width:1px;
    display: inline-block;
    a{
      color: #1A1A1A;
      font-size: 16px;
      text-align: center;
      border: none!important;
      background: white;
    }
  }
  .date-active:after{
    content: "";
    background-color: #A0C24C !important;
    border-radius: 90px;
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    position: absolute;
    display: block;
    top: 49%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .date-active{
    a{
      background-color: #A0C24C !important;
      z-index:10;
    }
  }
  .date-passive:after{
    content: "";
    background-color: #E2E2E2!important;
    border-radius: 90px;
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    position: absolute;
    display: block;
    top: 49%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .date-passive{
    a{
      background-color: #E2E2E2!important;
      color: #808080!important;
      z-index:10;
    }
  }
  .date-first:after{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
  }
  .date-last:after{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }

  .date-period:after{
    border-radius:0;
    width:62px;
  }


.top-bg-products{
  .row{ height:100%; }

  h2{
    width:auto;
    height:auto;
  }
}
.product-page{
  .container{
    padding-left:25px;
    padding-right:25px;
  }
  .row{
    padding-top:68px;
    padding-bottom:66px;
  }
  .content{
    width:calc(100% / 3);
    border-top: 1px solid #DDCAC0;
    border-right: 1px solid #DDCAC0;
  }
  .inner {
    padding-top: 102.5%;
    margin: 0px 30px;
    cursor: pointer;
  }
  .full{
    padding-top:102.5%;
    margin-top:30px;
  }
  .after-hover{
    z-index:3;
    opacity:0;
  }
  .title{
    margin: 0px 30px;
    min-height: 65px;
    letter-spacing: 2px;
    color: #1A1A1A;
    text-align: center;
    margin-top: 31px;
  }
  .info{
  background-color: #1A1A1A;
  position: absolute;
  bottom: 0;
  left: 23%;
  right: 23%;
  height: 13%;
  width: 56%;
  h5{
    color: white;
    height: 100%;
    letter-spacing: 2px;
    }
  }
  .content:nth-child(3n+3){ border-right: none;}
  .content:nth-child(-n+3){ border-top: none;}
  .content:nth-child(-n+3) .full{ margin-top: 0px;}

}

@media( max-width: 1200px ) {
.top-bg-products{ margin-top:60px; }

.product-page {
  .container{
    padding-left:15px;
    padding-right:15px;
  }
  .content{
    width:calc(100% / 2)!important;
    border-top: 1px solid #DDCAC0!important;
  }
 .content:nth-child(-n+2) .full { margin-top: 0px!important; }

 .content:nth-child(-n+2) { border-top:none!important; }

 .content:nth-child(3) .full { margin-top: 30px!important; }

 .content:nth-child(2n+2) { border-right:none!important; }

 .content:nth-child(3n+3) { border-right: 1px solid #DDCAC0; }

  .inner{ margin:0px 25px; }
  }
}
@media( max-width: 480px ) {
  .product-page{
    .container{
      padding-left:10px;
      padding-right:10px;
    }
    .inner{ margin:0px 10px; }
  }
}



.product-info-page{
  padding-top:80px;
  .container{
    height:auto!important;
  }
  .info-slider{
    margin-left:-15px;
    margin-right:-15px;
  }
  .slick-slide{ padding:0px 15px; }

  .image-where{ padding-top:119%!important; }

  .icon-arrow-right{
    background: none !important;
    border: none;
    height: auto;
    width: auto;
    padding: 0;
    position: absolute;
    right: 50px;
    left: auto;
    top: 43%;
  }
  .icon-arrow-left{
    background: none !important;
    border: none;
    height: auto;
    width: auto;
    padding: 0;
    position: absolute;
    left: auto;
    right: 50px;
    top: 53%;
  }
  .image-wrap{ padding-right:77px!important; }

  .post{
    padding-top:62px;
    padding-bottom:62px;
  }
  .text{
    max-width:100%;
    margin-left:0;
  }
  .subtitle{
    letter-spacing: 0.8px;
    line-height:22px!important;
    max-width: 455px;
  }
  .modal{
    .title:before{ border-top:none!important; }
  }
  .sastavs-block{
    margin-top: 30px;
    .title{ letter-spacing: 2px; }

    .title:before{
      content:'';
      border-top:none!important;
    }
    .list{
      list-style: none;
      margin-top: 27px;
      li:before{
        font-family: 'icomoon';
        content: "\E908";
        color: #ddcac0;
        font-size: 8px;
        position: absolute;
        top: 4px;
        bottom: 0;
        left: 0;
      }
      li{
        padding-left: 25px;
        font-family: 'Roboto-Light';
        letter-spacing: 1px;
        padding-bottom: 23px;
        width: calc(100% / 2);
      }
    }
  }


  button{
    margin-top: 10px;
    padding: 22px 24px;
  }

  .modal{
    .SumoSelect{
      width: 100%;
      margin-left:0;
    }
    .SumoSelect > .CaptionCont > label > i{
      background-image: none;
      font-size: 7px;
      top: 43px !important;
      left: 6px;
      width: 100% !important;
      height: 100% !important;
    }
    .icon-count-plus,.icon-count-minus{
      font-size: 39px;
      cursor: pointer;
    }
    .add-product-wrap{
      margin-top:-8px;
      cursor:pointer;
    }
    .add-product-icon{ font-size:19px; }

    .add-product{
      font-family:'Roboto-Light';
      font-size: 14px;
      text-transform:none;
      padding-top: 3px;
      padding-left: 6px;
      letter-spacing: 0.8px;
    }
    .product-added{ width:100%; }

    .product-choice{ width:100%; }

    .delivery-info{
      letter-spacing: 2px;
      margin-top: -12px;
    }
    .delivery-where{
      font-family:'Roboto-Light';
      letter-spacing: 0.8px;
    }
    .more-info-form{ margin-top:0!important; }

    .icon-change-color:before{ color: #1A1A1A!important; }

    .col-input{
      margin-top:18px;
      width:100%;
    }
    .form-full{
      height:auto;
      .left{
        float: left;
        letter-spacing: 1px;
        margin-left: 14px;
        max-width:100px;
      }
      .right{
        float: right;
        margin-left: auto;
        padding-top: 5px;
        padding-left:20px;
        right:-15px;
      }
      .daudzums{ padding: 15px; }
    }
  }
}
@media( max-width: 1199px ) {
  .product-info-page{
    .post{ padding-top:0; }

    .image-wrap{
      margin-left:auto;
      padding-right:60px!important;
    }
    .icon-arrow-left{
      top:53%;
      right:25px;
    }
    .icon-arrow-right{
      top:44%;
      right:23px;
    }
    .text-area{ margin-top:65px; }

    .eks-sem-text{
      padding:0px 25px!important;
      margin-right:auto;
    }
    .sastavs-block{
      .title:before{ border-top:none!important; }
    }
    .require{ margin-right:auto!important; }
  }
}

@media( max-width: 767px ) {
  .product-info-page{
    .text{ max-width:100%; }

    .subtitle{ max-width:100%; }

    .list{
      li{ width:50%!important; }
    }
    .image-wrap{ padding:0!important; }
    .icon-arrow-right{
      top:105%;
      transform: translate(-50%, -50%) rotate(180deg);
      right:70px;
    }
    .icon-arrow-left{
      top:105%;
      transform: translate(-50%, -50%);
      right:11px;
    }
    .text-area{ margin-top:90px; }
  }
}


.about-us-page{
  .video-block{ padding:0; }
  .big-text-post{
    .title:before{ width:106px!important; }
  }
}

@media( max-width: 1200px ) {
  .about-us-page{
    .big-text-post{
      .title:before{ border-top:none!important; }
    }
    .blog-post .container .post:nth-child(2n+1) .image-wrap{ order:1!important; }

    .blog-post .container .post:nth-child(2n+1) .text-area{ order:1!important; }
  }
}

.video-block{
  padding-top:65px;
  padding-bottom:65px;
}
.video{
  width: 100%;
  max-width: 1030px;
  height: auto;
  margin: 0 auto;
  iframe, video{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.inner{ padding-top: 56.5%; }

@media( max-width: 1200px ) {
  .video-block{
    .container{
      padding-left:20px;
      padding-right:20px;
    }
  }
}

@media( max-width: 767px ) {
  .video-block{
    padding-top:30px;
    padding-bottom:30px;
    .container{
      padding-left:20px;
      padding-right:20px;
    }
  }
}




//footer responsive
@media( max-width: 1200px ) {
  .site-footer{
    .contacts-foot{
      max-width: 300px;
      padding-left: 40px;
    }
  }

}

@media( max-width: 767px ) {
  .site-footer{
    .location,.contacts-foot{ width:50%; }

    .contacts-foot{ padding-left:10px; }

    .social{ margin: 0 auto; }

    .soc:first-child{ margin-left:0; }

    .rights{
      text-align:center;
      width:100%;
    }
    .author{
      width:100%;
      text-align:center;
      padding-bottom:20px;
    }
    .obj-wrap{
      padding-top:100px;
      padding-bottom: 25px;
    }
    .cont-obj a{ padding: 10px 0px; }
  }

}



@media( max-width: 767px ) {
  .container{
    padding-right:20px;
    padding-left:20px;
  }
}

@media( max-width: 1200px ) {
  .one-post,.about-us, .where-seminari, .google-maps-section, .product-info-page, .blog-post{
    .container{
      padding-left: 75px;
      padding-right: 75px;
    }
    .big-text-post{ padding-top:0px!important; }

    .typical-post{ padding-top:50px!important; }
    .post-no-overlay{
     padding-bottom: 50px;
     margin-top:0;
   }
    .text-area{
      margin-top: 70px;
      .text{
        max-width: 100%!important;
        padding: 0px 50px;
      }
      .text-where{ margin-left:0!important; }

      .title:before{
        content: "";
        border-top: 1px solid #DDCAC0;
        width: 100px!important;
        position: absolute!important;
        display: block!important;
        top: -70px!important;
        bottom: auto!important;
        transform: translateY(-50%) rotate(90deg)!important;
        right: 87%!important;
        }
        .title:after{ border-top:none!important; }
      }
    .container .post:nth-child(2n+2) .image-wrap{ order: 1;}
    .container .post:nth-child(2n+2) .text-area{ order: 2;}
    .calendar{
      top:103%;
      left: calc(50% - 200px);
    }
    .eks-sem-text{ max-width:100%; }
  }

  .where-seminari { padding-bottom: 540px; }

  .sertifikati{
    .container{
      padding-left:25px;
      padding-right:25px;
    }
    .sert-row{
      padding-left:0;
      padding-right:0;
    }
    .full{ padding:0; }
  }

}

@media( max-width: 767px ) {
  .one-post,.about-us, .where-seminari, .google-maps-section, .product-info-page, .blog-post{
    .container{
      padding-left:15px;
      padding-right:15px;
    }
    .big-text-post{ padding-top:0px!important; }

    .typical-post{ padding-top:20px!important; }
    .post-no-overlay{
     padding-bottom: 50px;
     margin-top:0;
   }
    .post{
      padding-top:30px;
    }
    .text-area{
      margin-top:40px;
      .text{
        padding-left:0;
        padding-right:0;
        .title:before{ left:-30px!important; }

        .title{ margin-right:auto; }
      }
      .eks-title{ width:100%; }

      .eks-subtitle{ margin-right:auto; }

      .subtitle{
        width:100%;
        margin-right:auto;
      }
    }
    .text-where{ margin-left:0!important; }

    .where-loc{ width:100%; }

    .calendar{
      .title-header{
        padding-left:0;
        padding-right:0;
        text-align:center;
      }
    }
    .modal{
      .modal-container{ width:100%; }
    }
  }
  .sertifikati{
    .sert-row{
      padding:0;
      margin-top:40px;
    }
    .full{ width:100%; }
  }
  .modal{
    .w-50{ width:100%!important; }
  }
}

@media( max-width: 400px ) {
    .one-post,.about-us, .where-seminari, .google-maps-section, .product-info-page, .blog-post{
      .calendar{
        width:316px;
        left: calc(50% - 158px);
        .ui-datepicker{ width:316px!important; }
      }
    }
}




//404
.page-404{
  padding:60px 0px;
  .wrong-full{
    color:white;
    .wrong-text{
      font-size:216px;
      width:100%;
      font-family:'Roboto-Bold';
      text-align:center;
    }
    .h3{
      width:100%;
      text-align:center;
    }
    p{
      width:100%;
      text-align:center;
    }
    button{
      border:1px solid white;
      color:white;
    }
  }

  .obj-wrap{
    padding-top:30px;
    padding-bottom:40px;
  }
}

.cc-window.cc-banner { padding: 25px 135px; }

.cc-message {
  font-family: 'Roboto-Light';
  font-size:16px;
}
.cc-compliance{
  border:1px solid white;
  font-family: 'Roboto-Light';
  font-size:14px;
  margin-top:0!important;
  padding:0!important;
}

.cc-compliance:hover{
  background-color:#fff;
  color:#1A1A1A;
}
.cc-btn:hover{
  background-color: #fff!important;
  color:#1A1A1A!important;
}
.cc-btn{ padding:15px 40px!important; }

.cc-window{ padding:1em 6.8em!important; }

@media( max-width: 480px ) {
    .page-404{
      .wrong-text{
        font-size:150px!important;
      }
    }
}